html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 80% !important;
  margin: 0 auto;
  position: relative;
}
